[submodule "source/min-api"]
	path = source/min-api
	url = https://github.com/Cycling74/min-api.git
[submodule "source/max-api"]
	path = source/max-api
	url = https://github.com/Cycling74/max-api.git
[submodule "source/Catch2"]
	path = source/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "source/max-sdk-base"]
	path = source/max-sdk-base
	url = https://github.com/Cycling74/max-sdk-base.git
[submodule "source/shared"]
	path = source/shared
	url = https://github.com/jberentsson/thulr.git
